// Specific CSS for your home-page
.home_body {
  background-image: asset-url("home.jpg");
  background-size: cover;
  height: calc(100vh - 92px);
  display: flex;
  align-items: center;
  justify-content: center;

}

.text{
  color:white;
  text-align: center;
}
