<div class="home_body">
  <div class="banner">
    <div class="text">
      <h1>Retro_world</h1>
      <h3>by Gamer's 4 Gamer's</h3>

        <%= link_to "Start", offers_path, class:"btn btn-success rounded-pill btn-lg" %>

    </div>
  </div>
</div>