// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card_show";
@import "map";
@import "profil";
@import "boutonflex";


// defini des hauteur & largeur pour le débutprobablement problématique design final
.index_body {
  background-color: rgb(80, 76, 76);
  padding: 2px;
}
.index_banner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  color: rgb(255, 255, 255);
  background-image: asset-url("banner_index.jpg");
  background-size: cover;
  height:500px;
  width:1500px;
  box-shadow:2px 2px 2px rgb(0, 0, 0);
  text-align: center;
}
.search {
  width: 400px;
}
.form-control {
  box-shadow: 2px 1px 2px black;
}


h1, h3{
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 4px 1px rgb(250, 0, 0), 9px 9px 1px rgb(0, 250, 0), 12px 12px 1px rgb(0, 0, 250);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 900px;
  flex-wrap: wrap;
}

.picture {
  border: 1px solid rgb(224, 224, 224);
  height: 230px;
  width: 430px;
  object-position: center;
  object-fit: cover;
}
.card {
  margin-top: 32px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.contour:hover{
  border: 2px solid rgb(0, 250, 0); //#19BB73
  box-shadow: 2px 2px 1px rgb(0, 250, 0), 8px 8px 1px rgb(250, 0, 0), 12px 12px 1px rgb(0, 0, 250);
}

.offer_link:hover{
  text-decoration: none;
}
// texte pour les card de l index
.texte {
  padding: 8px;
  text-align: justify;
  padding-left: 16px;
  color: rgb(56, 53, 53);
  text-decoration: none ;
  font-family:'Roboto Mono', monospace;
}
.far{
  position: absolute;
  left: 400px;
  bottom:130px;
}
