// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card_show";
@import "map";

// defini des hauteur & largeur pour le débutprobablement problématique design final
.index_body {
  background-color: rgb(80, 76, 76);
  padding: 2px;
}
.index_banner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  color: rgb(255, 255, 255);
  background-image: asset-url("banner_index.jpg");
  background-size: cover;
  height:500px;
  width:1500px;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  box-shadow:2px 2px 2px rgb(0, 0, 0);
}
h1{
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 4px 1px rgb(250, 0, 0), 8px 8px 1px rgb(0, 250, 0), 12px 12px 1px rgb(0, 0, 250);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

h3{
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 4px 1px rgb(250, 0, 0), 8px 8px 1px rgb(0, 250, 0), 12px 12px 1px rgb(0, 0, 250);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}
.picture {
  margin: 8px auto;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 8px;
  height: 230px;
  width: 430px;
  object-position: center;
  object-fit: cover;
}
.card {
  height: 400px;
  width: 450px;
  margin-top: 32px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  border-radius: 16px;
}
.contour:hover{
  border: 5px solid #19BB73;
}

.offer_link:hover{
  text-decoration: none;
}

.texte {
  padding: 8px;
  text-align: justify;
  padding-left: 16px;
  color: rgb(56, 53, 53);
  text-decoration: none ;
}
.far{
  position: absolute;
  left: 400px;
  bottom:130px;
}
