// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card_show";

// defini des hauteur & largeur pour le débutprobablement problématique design final
h1{
  text-align: center;
  margin: 20px auto;
  margin-bottom: 40px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}
.picture {
  margin: 8px auto;
  border-radius: 8px;
  background-color: aqua;
  height: 230px;
  width: 430px;
}
.card {
  height: 400px;
  width: 450px;
  margin-top: 8px;
  box-shadow: 2px 2px 2px rgb(192, 192, 192);
  border-radius: 16px;
}
.offer_link:hover{
    text-decoration: none;
  }

.texte {
  text-align: justify;
  padding-left: 16px;
  color: rgb(56, 53, 53);
  text-decoration: none ;
}
.far{
  position: absolute;
  left: 400px;
  bottom:130px;
}
