.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.flexbox {
  display: flex;
  flex-grow: 1;
  width: 80%;
  margin: 0 auto;

}

#map {
  height: 100vh;
  position: sticky;
  margin-top: 32px;
  top: 0px;
}
